
  $primary-color: #2E2F38;
  $secondary-color: #FA504D;
  $tertiary-color: #8E8E8E;
  $neutro-color: #FFFFFF;
  
  $family-font: 'poppins', sans-serif;
  $family-font-title: 'Belgrano', sans-serif;

  $font-size: 16px;
  $font-size-title: 72px;
  $font-size-subtitle: 41px;
  $font-size-subsubtitle:24px;
  $max-width-page: 1900px;
  $max-header:100px;


