@use "../abstracts/variables" as v;

header.logo img {
  width: 100%;
  height: auto;
}

header figcaption {
  display: none;
}

header.header {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: v.$max-width-page;
  height: v.$max-header;
}
header nav {
  display: flex;
  text-decoration: none;
  text-align: center;
  margin-left: 160px;
  ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 30px;
  }
      li a{
          text-decoration: none;
          display: flex;
          padding: 0;
          margin: 0;
          color: v.$primary-color;
  }
}



header aside {
  display: flex;
  text-decoration: none;
   ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 27px;
      position: relative;
    }
    
}
