.page {
  max-width: var(--max-width-page);
  box-sizing: border-box;
}
div.article{
  display: flex;
}

section h1.hero-title{
  width: 900px;
  font-family: var(--family-font-title);
  font-size: var(--font-size-title);
  color: var(--primary-color);
  line-height: 1.2;
  padding: 0;
  font-weight: 400;
}

section p.hero-subtitle{
  width: 600px;
  font-family: var(--family-font);
  font-size: var(--font-size-subsubtitle);
  color: var(--tertiary-color);
  font-weight: 400;
}
div.hero-buttons {
  background-color: var(--secondary-color);
  color: var(--neutro-color);
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-size);
  font-weight: 400; 
  max-width: 200px;
}


div.hero-buttons a{
  text-decoration: none;
}
h2{
  font-family: var(--family-font-title);
  font-size: 32px;
  font-weight: 400;
}


article p.hero{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 

  position: relative;
  width: 150px;

}
article{
  width: 850px;
  padding: 0;
  margin: 0;
 
}
article h2{
  font-size: var(--font-size-subtitle);
  font-weight: 400;
  font-family: var(--family-font);
}

article div img{
  padding: 0;
  margin: 0;
  width: 400px;
}

div.position{
  display: flex;
}

article div.Colage{
  display: flex;
  justify-content: center;
  background-image: url(../img/Artzie..png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 120px;
  margin: 0;
}

div.colorUser{
  background-color: var(--neutro-color);
  max-width: 600px;
  max-height: 235px;
}


div.BidNow {
  background-color: var(--secondary-color);
  width: 260px;
  display: flex;
}
div.BidNow a{
  text-decoration: none;
}
div.viewArtwork {
  background-color: var(--neutro-color);
  width: 260px;
  display: flex;
  font-size: var(--font-size);
  font-family: var(--family-font);
  color: var(--secondary-color)
}
div.viewArtwork a{
   text-decoration: none;
   
}
img.people{
  width: 100px;
}
div.valores{
display: flex;
text-align: center;
padding: 20px;
margin:0px;
background-color: var(--neutro-color);
gap:20px;
}