@use "../abstracts/variables" as v;

.page {
  max-width: v.$max-width-page;
  box-sizing: border-box;
}
div.article{
  display: flex;
}

section h1.hero-title{
  width: 900px;
  font-family: v.$family-font-title;
  font-size: v.$font-size-title;
  color: v.$primary-color;
  line-height: 1.2;
  padding: 0;
  font-weight: 400;
}

section p.hero-subtitle{
  width: 600px;
  font-family: v.$family-font;
  font-size: v.$font-size-subsubtitle;
  color: v.$tertiary-color;
  font-weight: 400;
  margin-bottom: 20px;
}
div.hero-buttons {
  background-color: v.$secondary-color;
  color: v.$neutro-color;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: v.$font-size;
  font-weight: 400; 
  max-width: 200px;
}


div.hero-buttons a{
  text-decoration: none;
}
h2{
  font-family: v.$family-font-title;
  font-size: 32px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;

}

article{
  width: 850px;
  padding: 0;
  margin: 0;
  h2{
    font-size: v.$font-size-subtitle;
    font-weight: 400;
    font-family: v.$family-font;
    }
    p.hero{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column; 

        position: relative;
        width: 150px;
    }
}


article div img{
  padding: 0;
  margin: 0;
  width: 400px;
}

div.position{
  display: flex;
}

article div.Colage{
  display: flex;
  justify-content: center;
  background-image: url(../img/Artzie..png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 120px;
  margin: 0;
}

div.colorUser{
  background-color: v.$neutro-color;
  max-width: 600px;
  max-height: 235px;
}


div.BidNow {
  background-color: v.$secondary-color;
  width: 260px;
  display: flex;
       a{
        text-decoration: none;
       }
}
div.viewArtwork {
  background-color: v.$neutro-color;
  width: 260px;
  display: flex;
  font-size: v.$font-size;
  font-family: v.$family-font;
  color: v.$secondary-color
       a{
          text-decoration: none;
       }
}
img.people{
  width: 100px;
}
div.valores{
display: flex;
text-align: center;
padding: 20px;
margin:0px;
background-color: v.$neutro-color;
gap:20px;
}